@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:linear-gradient(to right, #4B7037, #D2EFC2);
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3e5c2eb7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #70374E;
    text-align: center;
    text-shadow: 1px 1px 2px #472331b0;
}

h2 {
    color: #5D3770;
}

p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}